@charset "utf-8";
/*
** Padrao do site www.brasil.gov.br
*/

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: "open_sans_light";
    src: url([[font:theme|OpenSans-Light.ttf]]) format("truetype");
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: "open_sans_regular";
    src: url([[font:theme|OpenSans-Regular.ttf]]) format("truetype");
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: "open_sanssemibold";
    src: url([[font:theme|OpenSans-Semibold.ttf]]) format("truetype");

}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: "open_sansbold";
    src: url([[font:theme|OpenSans-Bold.ttf]]) format("truetype");
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: "open_sansextrabold";
    src: url([[font:theme|OpenSans-ExtraBold.ttf]]) format("truetype");
}

/********* Style for FontAwesome icons ***********/

i.icon {
    &.fa-file-word-o:before {
        color: #2e3192;
    }

    &.fa-file-excel-o:before {
        color: #009245;
    }

    &.fa-file-pdf-o:before {
        color: #ff1d25;
    }

    &.fa-file-powerpoint-o:before {
        color: #f15a24;
    }

    &.fa-file-image-o:before {
        color: #00a99d;
    }

    &.fa-file-archive-o:before {
        color: #fbb03b;
    }

    &.fa-file-audio-o:before {
        color: #0071bc;
    }

    &.fa-file-video-o:before {
        color: #ed1c24;
    }
}

