@charset "utf-8";

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: "open_sans_light";
    src: url([[font:theme|OpenSans-Light.ttf]]) format("truetype");
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: "open_sans_regular";
    src: url([[font:theme|OpenSans-Regular.ttf]]) format("truetype");
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: "open_sanssemibold";
    src: url([[font:theme|OpenSans-Semibold.ttf]]) format("truetype");

}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: "open_sansbold";
    src: url([[font:theme|OpenSans-Bold.ttf]]) format("truetype");
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: "open_sansextrabold";
    src: url([[font:theme|OpenSans-ExtraBold.ttf]]) format("truetype");
}
