@charset "utf-8";

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: "PlayfairDisplay";
    src: url([[font:theme|PlayfairDisplay-Regular.ttf]]) format("truetype");
}

@font-face {
    font-weight: normal;
    font-style: italic;
    font-family: "PlayfairDisplay";
    src: url([[font:theme|PlayfairDisplay-Italic.ttf]]) format("truetype");
}

@font-face {
    font-weight: 600;
    font-style: normal;
    font-family: "PlayfairDisplay";
    src: url([[font:theme|PlayfairDisplay-Bold.ttf]]) format("truetype");
}

@font-face {
    font-weight: 800;
    font-style: normal;
    font-family: "PlayfairDisplay";
    src: url([[font:theme|PlayfairDisplay-Black.ttf]]) format("truetype");
}

@font-face {
    font-weight: 200;
    font-style: normal;
    font-family: "PlayfairDisplay";
    src: url([[font:theme|PlayfairDisplay-Regular.ttf]]) format("truetype");
}

@font-face {
    font-weight: 200;
    font-style: italic;
    font-family: "PlayfairDisplay";
    src: url([[font:theme|PlayfairDisplay-Italic.ttf]]) format("truetype");
}

@font-face {
    font-weight: 400;
    font-style: italic;
    font-family: "PlayfairDisplay";
    src: url([[font:theme|PlayfairDisplay-BoldItalic.ttf]]) format("truetype");
}

@font-face {
    font-weight: 800;
    font-style: italic;
    font-family: "PlayfairDisplay";
    src: url([[font:theme|PlayfairDisplay-BlackItalic.ttf]]) format("truetype");
}
