body.path-admin {
	.header-maxwidth {
		max-width: none;
		margin: 0 4rem;
		padding: 0;
	}

	.secondary-navigation {
		padding: 1rem 0;
		width: calc(100% - 8rem);
    margin: 0 4rem;
		.moremenu {
			@extend %border-frequency;
			border: none;
			&:before {
				content: none;
			}
		}
	}

	#page-content {
		&.d-print-block {
			margin: 0 3rem;
		}
		#region-main {
			@extend %border-frequency;
			padding: 1.5rem;
			&:after {
				height: 0.15rem;
			}
		}
	}
}

#page-admin-search {
	.simplesearchform {
		input.form-control[type="text"] {
			width: auto;
		}
		[type="submit"] {
			margin: 0 .5rem;
		}
	}

	#page-header {
		max-width: none;
    padding: 0;
    margin: 0 4rem;

		.mr-auto {
			margin-right: 0 !important;
		}

		.ml-auto {
			margin-left: 0 !important;
		}
	}

	#page-content {
		margin: 0;
		#region-main-box {
			padding: 1rem 4rem;
		}
	}
}
