#page .block {
    border: none;
    border-top: 2px solid $primary;
}

//Admin Blocks
#side-admin-blocks {
    width: 100%;
    background: rgba($primary, 0.2);

    #block-region-side-admin {
        min-height: 150px;
        height: 100%;
        width: 100%;
    }
    .card {
        border-top-color: $primary;
    }
}

#region-main.has-blocks .dashboard-card-deck .dashboard-card {
    box-shadow: 0 0 7px #a3a5ae;
    transition: all ease-in 300ms;
    &:hover {
        box-shadow: 0 0 3px #bbbdc7;
    }
}

.block_myoverview.block {
    background: $white;
    padding: 1rem;

    .dashboard-card {
        box-shadow: 1px 0 11px #a5a5a5;
        margin: 1rem;

        .card-body {
            border-top: 1px solid #d4d4d4;
        }
    }

    #searchinput {
        height: 2.8rem;
        text-transform: $text-transform;
    }
    button.btn {
        margin: 0;
    }

    .dashboard-card-deck .dashboard-card .dashboard-card-img {
        height: auto;
        aspect-ratio: 7 / 4;
    }

    .dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
        @media (min-width: 580px) {
            width: calc(50% - 2rem);
        }
        @media (min-width:840px) {
            width: calc(33.33% - 2rem);
        }
        @media (min-width: 1200px) {
            width: calc(25% - 2rem);
        }
    }
}

#page .course-card-view {
    @media (min-width: 580px) {
        max-width: calc(50% - 2rem);
    }
    @media (min-width:840px) {
        max-width: calc(33.33% - 2rem);
    }
    @media (min-width: 1200px) {
        max-width: calc(25% - 2rem);
    }
}
