body.format-tiles {
    #page {
        .completioncheckbox {
            .btn {
                background-color: $white;
                padding: 0;
                width: 25px;
                height: auto;
                margin: 0;
            }
        }
    }
    .tooltip {
        z-index: 10044;
    }
    #sectionbuttons {
        right: 10px;
    }
    .sectionbutton {
        border: 1px solid $gray-300;
        background-color: $white;
    }
}

body#page-course-view-topics.format-topics:not(.editing) {

    #region-main {
        background: #f7f7f7;
    }

    .completionprogress {
        float: revert;
    }

    .activity img.activityicon {
        height: 14px;
        margin-right: .75rem;
        width: 14px;
    }
    .course-content ul.topics li.section,
    .course-content ul.weeks li.section {
        border: 0 none;
        padding-bottom: 2rem;
        .content {
            display: grid;
            grid-template-columns: 25% 75%;
            grid-template-rows: auto auto auto;
            .sectionname {
                font-size: 1.1rem;
                font-weight: 600;
                grid-column: 1;
                grid-row: 1;
                margin-bottom: 0;
                a {
                    border-bottom: 1px solid $gray-300;
                    display: inline-block;
                    margin-bottom: 1rem;
                    padding-bottom: 1rem;
                    padding-right: 2rem;
                    position: relative;
                    width: 100%;
                    &:after {
                        @extend %dot-style-after;
                    }
                }
            }
            .section_availability {
                grid-column: 1;
                grid-row: 2;
                justify-self: end;
                padding-right: 2rem;
            }
            .summary {
                font-size: .9rem;
                grid-column: 1;
                grid-row: 3;
                margin-left: 0;
                padding-right: 2rem;
            }
        }
    }

    .course-content {
        li.section ul.section.img-text {
            @extend %border-frequency;
            background-color: $white;
            grid-column: 2;
            grid-row: 1 / 4;
            margin: 0;
            padding: 1rem;
        }

        .single-section {
            .section-navigation.navigationtitle {
                .sectionname {
                    text-align: right;
                }
            }
            li.section .section.img-text:before {
                content: none;
            }
        }
    }

    #section-0 .section.img-text:before {
        content: none;
    }

    .path-course-view .completionprogress {
        float: none;
    }

    .section li.activity {
        border-bottom: 1px dashed $gray-400;
        padding: .5em 0;
        .activityinstance,
        .contentwithoutlink {
            min-height: 1em;
        }
        .availabilityinfo,
        .contentafterlink {
            margin-top: 1em;
            margin-left: 26px;
        }

        &:last-child {
            border: none;
        }
    }
}