.course-card-view {
    box-shadow: 5px 5px 9px -4px rgba($black, .1);
    padding-bottom: 4rem;
    max-width: 16rem;
    min-width: 12rem;

    .course-card-img div {
        height: 6.5rem;
        background-position: top right;
        background-size: cover;
    }

    .card-see-more {
        position: absolute;
        bottom: 0;
        width: 100%;

        .btn {
            width: 90%;
        }
    }
}

body#page-enrol-index {
    .box.generalbox > div {
        @extend .course-card-view;
        position: relative;
    }
}
