body.uses-drawers {
    #page.drawers footer#page-footer {
        margin-left: -3rem;
        margin-right: -3rem;
        width: calc(100% + 6rem);
    }

    .show-drawer-right {
        footer#page-footer {
            margin-right: 0;
        }
    }

    .show-drawer-left {
        footer#page-footer {
            margin-left: 0;
        }
    }
}

.btn-footer-popover {
    bottom: 4rem;
}

#page.drawers footer#page-footer,
footer#page-footer {
    padding: 1.5rem 0;
    background-color: #1a1c1b !important;
    color: #cdcece;
    max-width: none;

    .bg-dark {
        background-color: #1a1c1b !important;
    }

    h3 {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $white;
        text-transform: uppercase;
    }

    a:not(.button) {
        transition: color 0.2s ease-in-out;
        color: #cdcece;
        text-decoration: none;
    }

    .row.gtr-uniform > * > :last-child {
        margin-bottom: 0;
    }

    ul.labeled-icons {
        list-style: none;
        padding-left: 0;

        li {
            margin-bottom: 1.5em;
            position: relative;

            span {
                width: 1.5em;
            }

            a,
            p {
                cursor: pointer;
                display: inline;
            }
        }
    }

    .smalltext {
        font-size: 0.9rem;

        a {
            color: #afb1b0;
            text-decoration: underline;
        }
    }

    .copyleft {
        color: #cdcece;
        font-size: 0.9em;
        margin: 3em 0 0 0;
        padding: 0;
        text-align: center;

        span {
            display: inline-block;
            transform: rotate(180deg);
        }
    }

    .btn-footer-popover {
        line-height: 16px;
        height: 36px;
        margin: 0 !important;
        padding: 0 !important;
        background-color: #373a3c !important;
        color: white !important;
    }
    .popover-body a:not(.button) {
        color: $black;
    }
}

body.scrolled #goto-top-link {
    opacity: 1;
    visibility: visible;
    transition: visibility 0s ease 0s, opacity 0.7s ease 0.1s;
}

#goto-top-link {
    bottom: 0;
    right: 3rem;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.7s ease 0s, visibility 0.1s ease 0.8s;
    display: block;
    position: fixed;
    box-shadow: 0 0 5px #dadada;
    .icon {
        margin-right: 0;
    }
}
