#page-wrapper .navbar {
    background-color: #fff;
    border-bottom: solid 1px rgba(144, 144, 144, 0.35);
    box-shadow: 0 0.0375em 0.125em 0 rgba(0, 0, 0, 0.05);
    color: #484b49;
    cursor: default;
    font-weight: lighter;
    height: 4.5em;
    max-height: 4.5em;
    left: 0;
    position: fixed;
    text-transform: uppercase;
    top: 0;
    width: 100%;
    z-index: 10000;

    .site-name {
        color: #484b49;
        font-weight: bold;
        letter-spacing: 0.9px;
        height: inherit;
        left: 1.25em;
        line-height: inherit;
    }

    .simplesearchform [type="submit"] {
        margin: 0;
        background-color: $secondary;
        color: choose-contrast-color($secondary);
    }

    .navbar-nav {
        flex-wrap: nowrap;
    }

    .trema-custom-menu {
        overflow: visible;
    }

    .d-inline-block.mr-3 button {
        background-color: #fff;
        border: solid 1px rgba(144, 144, 144, 0.35);
    }

    .nav-link:focus {
        outline: none;
    }

    .popover-region-container {
        top: 4.1rem;
    }

    .popover-region-toggle:before {
        bottom: 0;
    }

    .popover-region-toggle:after {
        bottom: -1px;
    }

    .action-menu-trigger .dropdown-toggle:after {
        content: none;
    }

    .action-menu .dropdown-toggle {
        outline: none;
    }

    .search-input-wrapper > div .icon {
        margin-top: .75rem;
    }

    .lang-menu .dropdown-menu {
        top: 70px;
        left: -220px;

        .fa {
            font-size: 16px;
        }

        &:before {
            content: "";
            display: inline-block;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid #ddd;
            position: absolute;
            top: -10px;
            right: 7px;
        }

        &:after {
            content: "";
            display: inline-block;
            border-left: 9px solid transparent;
            border-right: 9px solid transparent;
            border-bottom: 9px solid #fff;
            position: absolute;
            top: -9px;
            right: 8px;
            z-index: 2;
        }
    }

    .usermenu {
        .login {
            line-height: 1.5;
        }
        @media (max-width: 768px) {
            .login {
                line-height: 1;
                text-transform: none;
            }
        }

        .dropdown-menu {
            top: 4rem;
            right: -60px;
        }

        .avatar.current {
            img {
                height: 2.5rem;
                width: 2.5rem;
            }
        }
        .dropdown.show {
            &:before {
                content: "";
                display: inline-block;
                border-left: 9px solid transparent;
                border-right: 9px solid transparent;
                border-bottom: 9px solid #fff;
                position: absolute;
                top: 58px;
                right: 34px;
                z-index: 1001;
            }
            &:after {
                content: "";
                display: inline-block;
                border-left: 9px solid transparent;
                border-right: 9px solid transparent;
                border-bottom: 9px solid rgba(0, 0, 0, .5);
                position: absolute;
                top: 57px;
                right: 34px;
                z-index: 2;
            }
        }
    }
    .primary-navigation {
        .navigation .nav-link {
            color: #666;
            border-top: 3px solid transparent;
            transition: all ease-in 300ms;
            &.active {
                font-weight: normal;
                color: rgba(0, 0, 0, .9);
            }
            &:hover:not(.active) {
                border-bottom: 3px solid #7a7a7a;
            }
        }
    }
}

#page .secondary-navigation {
    .navigation .nav-link {
        color: #666;
        border-top: 3px solid transparent;
        text-decoration: none;
        transition: all ease-in 100ms;
        &.active {
            font-weight: normal;
            color: rgba(0, 0, 0, .9);
        }
        &:hover:not(.active) {
            border-bottom: 3px solid #7a7a7a;
        }
    }
}

.sr-only-focusable {
    &:active,
    &:focus {
        z-index: 10001;
    }
}

.notloggedin {
    #page-wrapper .navbar {
        .usermenu {
            padding-right: 0;
        }
    }
}

#page.drawers {
    height: calc(100vh - 4.5em);
    margin-top: 4.5em;
}

@media (max-width: 767.98px) {
    #page-wrapper .navbar {
        .d-inline-block.mr-3 button {
            border: 0 none;
            padding: 0;
        }
        .navbar-nav .nav-link {
            padding-top: 1rem;
        }
        .usermenu {
            padding-right: 0;
            .avatar.current {
                position: relative;
                right: 0;
                top: 0;
            }
        }
    }
}
