#page-wrapper .navbar {
    background-color: #fff;
    border-bottom: solid 1px rgba(144, 144, 144, 0.35);
    box-shadow: 0 0.0375em 0.125em 0 rgba(0, 0, 0, 0.05);
    color: #484b49;
    cursor: default;
    font-weight: lighter;
    height: 4.5em;
    max-height: 4.5em;
    left: 0;
    position: fixed;
    text-transform: uppercase;
    top: 0;
    width: 100%;
    z-index: 10000;

    .site-name {
        color: #484b49;
        font-weight: bold;
        letter-spacing: 0.9px;
        height: inherit;
        left: 1.25em;
        line-height: inherit;
    }
    
    .navbar-nav {
        flex-wrap: nowrap;
    }
    
    .trema-custom-menu {
        overflow: visible;
    }

    .d-inline-block.mr-3 button {
        background-color: #fff;
        border: solid 1px rgba(144, 144, 144, 0.35);
    }

    .nav-link:focus {
        outline: none;
    }

    .popover-region-container {
        top: 3.3rem;
    }

    .popover-region-toggle:before {
        bottom: -15px;
    }

    .popover-region-toggle:after {
        bottom: -16px;
    }

    .action-menu-trigger .dropdown-toggle:after {
        content: none;
    }

    .action-menu .dropdown-toggle {
        outline: none;
    }

    .search-input-wrapper>div .icon {   
        margin-top: .75rem; 
    }
    
    .lang-menu .dropdown-menu {
        top: 13px;
        left: -210px;

        .fa {
            font-size: 16px;
        }

        &:before {
            content: "";
            display: inline-block;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid #ddd;
            position: absolute;
            top: -15px;
            right: 7px;
        }

        &:after {
            content: "";
            display: inline-block;
            border-left: 9px solid transparent;
            border-right: 9px solid transparent;
            border-bottom: 9px solid #fff;
            position: absolute;
            top: -16px;
            right: 8px;
            z-index: 2;
        }
    }

    .usermenu {
        padding: .5rem;
        padding-right: 60px;

        .login {
            line-height: 1.5;
        }

        .dropdown-menu {
            top: 2.7rem;
            right: -60px;
        }

        .avatar.current {
            position: absolute;
            right: -3.5rem;
            top: -.5rem;

            img {
                height: 2.5rem;
                width: 2.5rem;
            }
        }
    }
}

.notloggedin {
    #page-wrapper .navbar {
        .usermenu {
            padding-right: 0;
        }
    }
}
