#participantsform {
    .btn-group {
        width: 100%;
        text-align: center;
        display: block;
    }

    #formactionid {
        width: 40%;
        display: inline;
    }

    .btn {
        margin: .5rem;
    }
}

.activity-navigation {
    clear: both;

    #jump-to-activity {
        background-color: $white;
    }
}