#participantsform {
    .btn-group {
        width: 100%;
        text-align: center;
        display: block;
    }

    #formactionid {
        width: 40%;
        display: inline;
    }

    .btn {
        margin: .5rem;
    }
}

#page {
    .activity-navigation {
        clear: both;

        #prev-activity-link,
        #next-activity-link {
            white-space: pre-wrap;
            line-height: 1.75;
            max-width: 300px;
            height: auto;
        }

        @media (max-width: 768px) {
            #prev-activity-link,
            #next-activity-link {
                max-width: none;
            }
        }

        .row {
            margin: 0;
        }

        #jump-to-activity {
            background-color: $white;
        }
    }

    .section-navigation {
        .custom-select.jumpmenu {
            width: auto;
            margin: 0 auto;
        }

        .mdl-right,
        .mdl-left {
            white-space: pre-wrap;
            line-height: 1.75;
            max-width: 300px;
            height: auto;
            text-align: center;

            a {
                text-transform: uppercase;
            }
        }

        @media (max-width: 768px) {
            .mdl-right,
            .mdl-left {
                width: 100%;
                max-width: none;
            }
        }

    }

    #completionprogressid .btn {
        height: auto;
    }
}

body#page-my-index.page-mycourses {
    #topofscroll {
        margin-top: 0;
        background: #f7f7f7;
        #region-main {
            background: #f7f7f7;
        }
        section.card {
            background: white;
            padding: 1rem;

            .dashboard-card {
                box-shadow: 1px 0 11px #a5a5a5;

                .card-body {
                    border-top: 1px solid #d4d4d4;
                }
            }

            #searchinput {
                height: 2.8rem;
                text-transform: uppercase;
            }
            button.btn {
                margin: 0;
            }
        }
    }
}

body#page-course-view-topics {
    #topofscroll {
        [data-toggle="collapse"].btn-icon {
            background-color: $white;
            color: $primary;
            height: auto;
            line-height: 1;
            padding: 0;
            margin: 0;
        }

    }
}

body.format-topics:not(#page-course-view-topics),
body.pagelayout-incourse,
body.format-topics.path-user {
    #page-content {
        @extend %border-frequency;
        &:before {
			height: 1rem;
			top: -1rem;
		}
		&:after {
			height: 0.15rem;
		}
        #region-main {
            padding: 2rem;
        }
    }
}

body#page-course-view-topics.pagelayout-incourse {
    #topofscroll #region-main-box {
        #region-main,
        [role="main"] {
            background-color: $white;
        }
    }
}

body.format-topics.path-user,
body.path-grade {
    #region-main-box {
        padding: 0;
    }
}
