body#page-login-index {

    #region-main {
        padding-top: 0;
    }

    #page-wrapper {
        position: relative;
        min-height: 100vh;
        height: auto;
        .lang-menu .dropdown-menu {
            left: 0;
            top: 65px;
        }
    }

    #page {
        background: none;
        #card-login,
        #card-login-instructions {
            margin-top: 50px;
        }

        #region-main-box {
            padding-top: 0;
        }

        &.has-navbar {
            #region-main-box {
                padding-top: 60px;
            }
        }
    }

    #page-content {
        margin: 0 auto 2rem;
    }

    .card {
        @extend %border-frequency;
    }

    .card-header {
        background-color: transparent;
    }

    &.style-particles {
        canvas.particles-js-canvas-el {
            position: absolute;
            top: 0;
            z-index: -1;
            background-color: $particles-bg;
        }
    }

    &.style-image {
        #page-wrapper {
            background-image: url($login-backgroundimage);
            background-position: top center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    &.style-none {
        #page-wrapper {
            background-image: none;
        }
    }
}

body#page-login-signup,
body#page-login-forgot_password {
    &.style-particles {
        #page {
            background: transparent;
        }

        .particles-js-canvas-el {
            position: absolute;
            z-index: 1;
        }
    }
    &.style-image {
        #page {
            background: none;
        }

        #page-wrapper {
            background-image: url($login-backgroundimage);
            background-position: top center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    &.style-none {
        #page {
            background: none;
        }

        #page-wrapper {
            background-image: none;
        }
    }

    #page-wrapper {
        .lang-menu .dropdown-menu {
            left: 0;
            top: 65px;
        }
    }
    #page {
        z-index: 10;
        &.has-navbar {
            #page-content {
                margin-top: 6rem;
            }
        }

        #page-content {
            margin-top: 3rem;
            background: #fff;
            @extend %border-frequency;
        }

        .login-heading {
            margin: 1.5rem 0;
        }

        .mform.full-width-labels .fitem.row > {
            .col-md-3 {
                flex: 0 0 25%;
                max-width: 25%;
            }

            .col-md-9 {
                flex: 0 0 75%;
                max-width: 75%;
            }
        }
    }
}
