.card {
    border: none;
}

* {
    font-family: "open_sans_regular";
}

%border-frequency {
    position: relative;
    
    &:before { 
        background-color:rgba(144, 144, 144, 0.35);
		content: '';
		display: block;
		height: 50px;
		position: absolute;
		right: 50%;
		top: -50px;
	   width: 1px;
	}
		
	&:after {
		background: linear-gradient(to right, #fd647a 50%, #00b49e 50%);
		top: 0;
		content: '';
		display: block;
		height: 4px;
		position: absolute;
		right: 0;
		width: 100%;
	}
}

body {
    -webkit-font-smoothing: antialiased;
    background: #f7f7f7;

    #page {
        margin-top: 4.5em;
        padding-top: 1.5em;

        .atto_group button {
            color: #000;
            background-color: #fff;
            padding: 4px 9px;
            margin: 0;
            height: 30px;
        }

        #page-header .card {
            @extend %border-frequency;
        }
        
        a {
            color: $primary;
            text-decoration: none;

            &:hover {
                color: darken($primary, 30%);
                text-decoration: underline;
            }
        }
    }
}

// Rounded user pictures
.userpicture {
    border-radius: 50%;
}

