body {
    -webkit-font-smoothing: antialiased;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08);
}

.filemanager-container,
.filepicker-filelist {
    @extend .border;
}

// Rounded user pictures
.userpicture {
    border-radius: 50%;
}

//Admin Blocks
.side-admin-blocks {
    width: 90%;
    float: none;

    #block-region-side-admin {
        min-height: 150px;
        height: 100%;
        width: 100%;
    }
}