body.pagelayout-maintenance {

    #page-wrapper {
        #page {
            @extend %border-frequency;
            background-color: $white;
            min-height: 70vh;
            margin-top: 3rem;
            margin-bottom: 3rem;
            padding: 3rem;
        }
        #page-footer {
            height: 7rem;
        }
    }
}