@media print {
    // Remove underline from all links.
    a {
        text-decoration: none !important;
    }
    // Remove margins to maximize space on paper.
    body #page #page-content,
    #region-main-box,
    #page {
        margin: 0 !important;
    }
    // Display the page headers so we can show the logo.
    #page-header {
        display: block !important;
    }

    // Unsticky the nav-bar so it doesn't repeat on every page.
    #page-wrapper nav.navbar {
        display: block;
        position: relative;
        border-bottom: none;
    }

    // Elements we do not want to appear in print.
    #goto-top-link,
    #page-footer,
    #user-notifications,
    #page-navbar,
    .btn,
    .drawer-toggles,
    button,
    .navbar-nav,
    .navbar-toggler,
    .notifications,
    .secondary-navigation,
    nav.navbar .primary-navigation,
    nav.navbar #usernavigation,
    ul.nav.nav-tabs {
        display: none !important;
    }
}
