/**
 * This file contains the styles required to make the footer sticky.
 */
#page-wrapper {
    padding-bottom: 0;
    margin-bottom: 0;
}

#page-wrapper::after {
    min-height: 0;
}

#page-footer {
    min-height: $footer-min-height;
    text-align: left;
}

html,
body {
    height: 100%;
}

#page-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    #page {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        #page-content {
            flex: 1 0 auto;
        }
    }
    #page-footer {
        flex-shrink: 0;
    }
}
