<footer id="page-footer" class="py-3 bg-dark text-light">
    <div class="container">
        {{{defaultfrontpagefooter}}}


        {{{ output.login_info }}}
        <div class="tool_usertours-resettourcontainer"></div>
        <nav class="nav navbar-nav d-md-none">
            {{# output.custom_menu_flat }}
                <ul class="list-unstyled pt-3">
                    {{> theme_boost/custom_menu_footer }}
                </ul>
            {{/ output.custom_menu_flat }}
        </nav>
        {{{ output.standard_footer_html }}}
        {{{ output.standard_end_of_body_html }}}
    </div>
</footer>