<div id="mydashboard-admin" class="container-fluid">
    <div class="row text-center">
        <div class="col-sm-3">
            <div class="card-body">
                <i class="fa fa-4x fa-database float-right p-1"></i>
                <h4>{{disk}}</h4>
                <h6>Uso de disco moodledata</h6>
            </div>
        </div>
    
        <div class="col-sm-3">
            <div class="card-body">
                <i class="fa fa-4x fa-graduation-cap float-right p-1"></i>
                <h4>{{activecourses}} - {{totalcourses}}</h4>
                <h6>Cursos ativos - Total</h6>
            </div>
        </div>
                
        <div class="col-sm-3">
            <div class="card-body">
                <i class="fa fa-4x fa-users float-right p-1"></i>
                <h4>{{activeenrolments}} - {{enrolments}}</h4>
                <h6>Inscrições ativas - Total</h6>
            </div>
        </div>
                    
        <div class="col-sm-3">
            <div class="card-body">
                <i class="fa fa-4x fa-ambulance float-right p-1"></i>
                    <div class="statuswarning m-2 position-relative">   
                    ATENÇÃO
                        <span class="count-container badge-success" data-region="count-container" 
                        style="top: -1rem; left: 0; right: auto;" title="Ok">{{issuestatus.ok}}</span>
                        <span class="count-container badge-warning" data-region="count-container" 
                        style="top: -1rem; left: 1rem; right: auto;" title="Alerta">{{issuestatus.warning}}</span>
                        <span class="count-container badge-info " data-region="count-container" 
                        style="top: -1rem; left: 2rem;right: auto;" title="Sério">{{issuestatus.serious}}</span>
                        <span class="count-container badge-danger" data-region="count-container" 
                        style="top: -1rem; left: 3rem;right: auto;" title="Crítico">{{issuestatus.critical}}</span>
                    </div>
                <h6>Segurança do sistema</h6>
            </div>
        </div>
    </div>
</div>