{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page login navbar.
}}
{{#output.login_lang_menu}}
<nav class="fixed-top navbar navbar-light bg-white navbar-expand moodle-has-zindex" aria-label="{{#str}}sitemenubar, admin{{/str}}">
        <a href="{{{ config.wwwroot }}}" class="navbar-brand d-flex align-items-center {{# output.should_display_navbar_logo }}has-logo{{/ output.should_display_navbar_logo }}">
            {{# output.should_display_navbar_logo }}
                <span class="logo d-inline">
                    <img src="{{output.get_compact_logo_url}}" alt="{{sitename}}">
                </span>
            {{/ output.should_display_navbar_logo }}
            {{^ output.should_display_navbar_logo }}
                <span class="site-name d-inline">{{{ sitename }}}</span>
            {{/ output.should_display_navbar_logo }}
        </a>

        <ul class="nav navbar-nav usernav" style="float:right;">
            <li class="dropdown nav-item">
                {{{ output.login_lang_menu }}}
            </li>
        </ul>
        <!-- search_box -->
</nav>
{{/output.login_lang_menu}}
