// Import FontAwesome.
@import "fontawesome";
// Import fonts
@import "fonts";
// Import All of Bootstrap.
@import "bootstrap";
// Import Core moodle CSS.
@import "moodle";

// Import Trema SCSS.
@import "trema/header";
@import "trema/main";
@import "trema/blocks";
@import "trema/dashboard";
@import "trema/header";
@import "trema/elements";
@import "trema/login";
@import "trema/frontpage";
@import "trema/incourse";
@import "trema/courselist";
@import "trema/maintenance";
@import "trema/modules";
@import "trema/courseformats";

body #page {
  input[type="submit"],
  input[type="reset"],
  input[type="button"],
  .btn {
    text-transform: none;
  }
}

#page.drawers footer#page-footer,
footer#page-footer {
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-transform: none;
  }
}

body#page-site-index {
  #frontpage-banner {
    #frontpage-banner-content {
      h2 {
        text-transform: none;
      }
    }
  }
}

// Frontpage Carrousel.

#carouselTrema {
  .carousel-inner {
    .frontpage-banner-content {
      h2 {
        text-transform: none;
      }
    }
  }
}

#page-wrapper .navbar {
  text-transform: none;
}

#page {
  .mdl-right,
  .mdl-left {
    a {
      text-transform: none;
    }
  }
}

body#page-my-index.page-mycourses {
  #topofscroll {
    section.card {
      #searchinput {
        text-transform: uppercase;
      }
    }
  }
}

// === BODY ===

$body-font-family: Roboto, Arial, Helvetica, sans-serif;
$body-font-size: 1rem;
$h1-font-family: "garmond, Times New Roman, times, serif";
$hx-font-family: $body-font-family;
$links-decoration: underline; // Values: underline or none. Does not affect navigation or buttons.
$links-color: #114b88; // Does not affect navigation or buttons.
$page-width: 100%;
$header-background-color: $primary;
$header-color: choose-contrast-color($header-background-color);
$footer-background-color: #333333;
$footer-color: choose-contrast-color($footer-background-color);
$course-nav-drawer-background-color: #ffffff;
$course-nav-drawer-color: choose-contrast-color(
  $course-nav-drawer-background-color
);
$blocks-drawer-background-color: #ffffff;
$blocks-drawer-color: choose-contrast-color($blocks-drawer-background-color);
$highlight-background-color: #ffee28;
$highlight-color: choose-contrast-color($highlight-background-color);
$placeholder-color: #717171;
$nav-align: right;

$google-font: Roboto;

@import "http://fonts.googleapis.com/css?family=#{$google-font}&display=swap";

body {
  font-family: $body-font-family;
  font-size: $body-font-size;
}


// Page title.
h1,
.h1 {
  font-family: $h1-font-family;
}

// Rest of the headings.
h2,
h3,
h4,
h5,
h6,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: $hx-font-family;
}
h5,
.h5 {
  font-size: 1.3rem !important;
}

// Underline and set colour of all links.
a,
body #page a,
#region-main-box a,
#page-footer a {
  text-decoration: $links-decoration;
  color: $links-color;
}

// Remove 100% width on select form controls.
@media (min-width: 576px) {
  .form-inline .input-group,
  .form-inline .custom-select {
    width: 100%;
  }
}
body #page form select {
  width: auto;
}

// Improve colour contrast ratio for input placeholder text.
::placeholder {
  color: $placeholder-color !important;
}

// Allow content in tables to wrap if they don't fit in the page.
td,
th {
  white-space: normal;
}

// === HEADER ===

// Support for multi-language logo.
.lang-en span.logo.d-inline,
.lang-fr span.logo.d-inline,
.lang-fr_ca span.logo.d-inline {
  display: inline-block !important;
  background-size: 214px 35px;
  background-position: left top;
}

// Increase height of custom menu navbar.
#page-wrapper .fixed-top.navbar {
  min-height: 76px;
  border-bottom: 1px solid #fff;
}

// Format search form.
.simplesearchform input[name="q"] {
  padding-right: 2.3rem;
}
@media only screen and (max-width: 991px) {
  #searchform-navbar {
    height: 72px;
  }
}

// Correct position of language dropdown menu.
#page-wrapper .navbar .lang-menu .dropdown-menu {
  top: 3.4rem;
  left: 0;
}

// Correct position of notification window (tiny arrow pointing up).
#page-wrapper .navbar .popover-region-toggle:before,
#page-wrapper .navbar .popover-region-toggle:after {
  bottom: -0.7rem;
}

// Correct position of notification window.
#page-wrapper .navbar .popover-region-container {
  top: 3.4rem;
}

// Correct position of messaging window.
.message-app.drawer,
.message-drawer,
[data-region="right-hand-drawer"].drawer {
  top: 4.9rem;
}

// Make header and buttons throughout Moodle mixed case, not all uppercase.
body #page input[type="submit"],
body #page input[type="reset"],
body #page input[type="button"],
body #page .btn,
#page-wrapper .navbar {
  text-transform: initial;
}

// Set color of top navigation bar.
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus,
#page-wrapper
  .navbar.bg-white
  a:not(.dropdown-item, .popover-region-header-actions a),
#page-wrapper .navbar.bg-white {
  background-color: $header-background-color !important;
  color: $header-color;
  font-weight: 400;
  font-family: $body-font-family;
}

// Adjust spacing between custom menu items to fit focus ring.
ul.navbar-nav li {
  margin: 0 2px;
}

// Correct colour of text in notification window.
.popover-region-footer-container,
#nav-notification-popover-container {
  color: #666;
}
.all-notifications .notification-message {
  color: #666;
}

// Underline all links for accessibility.
#page-wrapper .navbar.bg-white .all-notifications .view-more {
  background-color: transparent !important;
  color: $links-color;
  text-decoration: $links-decoration;
}

// Do not underline links in any navigation menus and buttons.
.dropdown a,
.menubar a,
nav a,
.btn {
  text-decoration: none !important;
}

// Underline links in menu on hover.
.usermenu a:hover,
.simplesearchform a:hover,
.nav-item .nav-link:hover {
  box-shadow: rgb(255, 255, 255) 0px 2px;
}

// Fix focus rings.
body #page a:focus,
#page-wrapper .navbar .action-menu .dropdown-toggle:focus,
#page-wrapper .navbar .nav-link:focus,
.aabtn.focus,
.aabtn:focus,
.btn-link.focus,
.btn-link:focus,
.nav-link.focus,
.nav-link:focus,
.editor_atto_toolbar button.focus,
.editor_atto_toolbar button:focus,
[role="button"].focus,
[role="button"]:focus,
.list-group-item-action.focus,
.list-group-item-action:focus,
input[type="checkbox"].focus,
input[type="checkbox"]:focus,
input[type="radio"].focus,
input[type="radio"]:focus,
input[type="file"].focus,
input[type="file"]:focus,
input[type="image"].focus,
input[type="image"]:focus,
.sr-only-focusable.focus,
.sr-only-focusable:focus,
a.dropdown-toggle.focus,
a.dropdown-toggle:focus,
.modal-dialog[tabindex="0"].focus,
.modal-dialog[tabindex="0"]:focus,
.moodle-dialogue-base .closebutton.focus,
.moodle-dialogue-base .closebutton:focus,
button.close.focus,
button.close:focus,
.form-autocomplete-selection.focus,
.form-autocomplete-selection:focus {
  outline: -webkit-focus-ring-color auto 1px;
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
  box-shadow: none;
}

// Shrink logo on mobile devices.
@media only screen and (max-width: 532px) {
  nav.navbar .logo img {
    max-height: 28px !important;
  }
  body #page h1 {
    font-size: 1.6rem;
  }
}

// Bring in avatar/use image on smaller devices.
@media only screen and (max-width: 752px) {
  #page-wrapper .navbar .usermenu .avatar.current {
    right: 1rem;
  }
}

// Remove vertical line above cards.
.border-trema:before,
  body #page #page-header .card:before,
  body#page-login-index .card:before,
  body#page-site-index #page-content:before,
  body#page-site-index #frontpage-cards:before,
  body.pagelayout-maintenance #page-wrapper #page:before,
  body.path-mod-forum #region-main .forumpost:before,
  .border-trema:after,
  //
  body #page #page-header .card:after,
  body#page-login-index .card:after,
  body#page-site-index #page-content:after,
  body#page-site-index #frontpage-cards:after,
  body.pagelayout-maintenance #page-wrapper #page:after,
  body.path-mod-forum #region-main .forumpost:after {
  content: none;
}
#page-header div.col-12.pt-3.pb-3 {
  margin: 0 !important;
  padding: 0 !important;
}

// === NAVIGATION DRAWER ===

// Lower nav drawer a bit.
#nav-drawer {
  top: 77px;
}

#nav-drawer [data-key="mycourses"] {
  background: transparent;
  border: none;
  padding-left: 10px;
}

// Hide some nav drawer links.
#nav-drawer [data-key="home"],
.pagelayout-course #nav-drawer [data-key="mycourses"],
.pagelayout-incourse #nav-drawer [data-key="mycourses"],
.pagelayout-course #nav-drawer [data-parent-key="mycourses"],
.pagelayout-incourse #nav-drawer [data-parent-key="mycourses"],
displaynone {
  display: none;
}

// === GEAR/COG DROPDOWN MENUS ===

.dropdown-item:active,
.dropdown-item:hover,
.dropdown-item:focus,
.dropdown-item:focus-within,
.dropdown-item:active a,
.dropdown-item:hover a,
.dropdown-item:focus a,
.dropdown-item:focus-within a {
  color: #fff !important;
}

// === FOOTER ===

#page-footer {
  font-size: 90%;
  background-color: $footer-background-color;
  color: $footer-color;
  padding-top: 10px;
}
// For desktop devices.
#page-footer .footer-info {
  text-align: center;
}
// For mobile devices.
@media only screen and (max-width: 767px) {
  #page-footer .footer-info {
    text-align: left !important;
  }
}

// Remove "policies" link from footer.
.policiesfooter,
.logininfo {
  display: none;
}

// Set the colour of the icons in the footer.
#page-footer a .icon {
  color: inherit;
}

#goto-top-link a.btn-light {
  color: $footer-color;
  background-color: $footer-background-color;
}

// === BLOCKS AND BUTTONS ===

.input-group {
  flex-wrap: nowrap;
}
@media (min-width: 576px) {
  .form-inline .input-group,
  .form-inline .custom-select {
    width: 100%;
  }
}
body #page input[type="submit"],
body #page input[type="reset"],
body #page input[type="button"],
body #page .btn {
  margin: 0;
}

// === HOME PAGE ===

#page-site-index #action-menu-toggle-2 {
  color: #fff !important;
}

// === LOGIN PAGE ===

#page-login-index h1.h2 {
  font-family: $h1-font-family;
}

// Note: Use /local/login to login with local accounts.
// Note: Or, to show, click title. Javascript is in Additional HTML settings.
// Hide login errors.
#page-login-index .loginerrors,
  // Hide Login form.
  #page-login-index #login,
  // Hide login instructions
  #page-login-index #card-login-instructions {
  display: none;
}
// Hide "Login using your account on:"
//#page-login-index #card-login h2 {
//  display:none!important;
//}
// Fix login button/link so that content wraps properly if it does not fit in the button.
#page-login-index #card-login .potentialidp a.btn {
  white-space: normal;
  height: auto;
  line-height: normal;
  padding: 0.8rem;
}

// Change the colours of the buttons.
body#page-login-index .btn.btn-secondary {
  background-color: #1459a3;
  color: #fff;
}
body#page-login-index .btn.btn-secondary:hover {
  background-color: #000;
  color: #fff;
}
body#page-login-index .btn.btn-primary {
  background-color: #ccc;
  color: #000;
  box-shadow: inset 0 0 0 1px rgba(144, 144, 144, 0.35);
}
body#page-login-index #card-login {
  margin-top: 100px;
}

// === DASHBOARD PAGE ===

// === EDIT PROFILE PAGE ===

// Hide some nav drawer links and fields.
#id_moodle_additional_names,
#id_moodle_interests {
  display: none;
}

// === EDIT COURSE PAGE ===

// Add an activity or resource.
#page-course-view-topics .mdl-right {
  text-align: left;
}
#page-course-view-topics .section-modchooser button {
  text-align: left;
  border-radius: 0.25rem;
  color: #3586ce;
  background-color: #f5f9fd;
  border-color: #3586ce;
  border-width: 1px;
  border-style: dashed;
  width: 100%;
  border-radius: 4px;
}
#page-course-view-topics .section-modchooser button i {
  border: 1px solid;
  padding: 5px;
}

// Edit links - add focus ring.
a.dropdown-toggle.focus,
a.dropdown-toggle:focus {
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 3px;
}

// === LOGS PAGE ===

body#page-admin-report-log-index #page form select {
  display: inline;
  width: auto;
}

// === AD-HOC DATABASE QUERIES ===

// Formatting for list of ad-hoc database query reports and categories.
.csql_category_reports p a:first-child {
  display: block;
}
.csql_category_reports span {
  width: 45%;
  display: inline-flex;
}
span.report_customsql {
  width: 95%;
  display: inline-flex;
  float: right;
}

// === FACE-TO-FACE ===

a.f2fsessionlinks,
td.f2fsessionnotice,
span.f2fsessionnotice {
  font-size: 12px;
  display: inline-block;
}
a.f2fsessionlinks {
  font-weight: normal;
  background-color: #0075b2;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #ffffff !important;
  cursor: pointer;
  padding: 8px 12px;
  -webkit-transition: background 0.2s ease-out;
  -moz-transition: background 0.2s ease-out;
  -ie-transition: background 0.2s ease-out;
  -o-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
  margin: 5px 5px 0 5px;
}
a.f2fsessionlinks:hover,
a.f2fsessionlinks:active {
  background-color: #024e82;
}
.f2fsessiontime {
  width: 55%;
}
.f2foptions {
  width: 45%;
}

// Set column width so it looks balanced and does not resize when adding/removing users from session.
#page-mod-facetoface-editattendees #assignform td:nth-child(1),
#page-mod-facetoface-editattendees #assignform td:nth-child(3) {
  width: 42%;
}
// Set select boxes so that they do not resize as you add/remove users. This affects all similar type pages throughout Moodle.
#addselect,
#removeselect {
  width: 100% !important;
}

// === SWITCH ROLE TO... ===

// Make list of roles inline instead of vertical on switch role page.
#page-course-switchrole .mx-3.mb-1 {
  display: inline-block;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

// === EVENTS ===

// Format face-to-face  events as cards on Moodle Events page.
#page-calendar-view #page-content .card .box {
  margin-top: 0;
}
#page-calendar-view #page-content .eventlist {
  display: flex;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  flex-direction: column;
  flex-flow: row wrap;
  justify-content: space-around;
}
#page-calendar-view #page-content .event {
  margin-bottom: 0.75rem;
  border: 1px solid #e3e3e3;
  border-radius: 0;
  width: 505px;
}
#page-calendar-view #page-content span.date {
  width: 100%;
  text-align: right;
}

// === PROFILE ===

// Format lists of committees displayed from custom profile fields.
#page-user-profile .node_category ul div.text_to_html ul {
  list-style: disc;
}
#page-user-profile .node_category ul div.text_to_html li {
  margin-left: 20px;
}

// === CONFIGURABLE REPORTS ===

// Fix alignment of instructions on Configurable Reports View Report page.
#page-blocks-configurable_reports-viewreport .text_to_html {
  text-align: left;
}
#page-calendar-view #page-content span.date {
  width: 100%;
  text-align: right;
}

// === PROFILE ===

// Format lists of committees displayed from custom profile fields.
#page-user-profile .node_category ul div.text_to_html ul {
  list-style: disc;
}
#page-user-profile .node_category ul div.text_to_html li {
  margin-left: 20px;
}

// === CONFIGURABLE REPORTS ===

// Fix alignment of instructions on Configurable Reports View Report page.
#page-blocks-configurable_reports-viewreport .text_to_html {
  text-align: left;
}

// === FEATURED COURSES ===

// Featured courses (not front page).
.block_featuredcourses .coursebox {
  width: 32%;
  display: inline-block;
  vertical-align: top;
  margin-right: 1.3%;
}

.block_featuredcourses .coursebox .courseimage img {
  max-height: none !important;
  width: 100%;
  padding: 5px;
}
// Fix for mobile devices.
@media screen and (max-width: 640px) {
  .block_featuredcourses .coursebox {
    width: 100%;
    border: 1px solid;
    padding: 10px;
  }
}

// === LOCAL LOGIN ===

#page-local-login-index #region-main {
  margin-top: 120px;
}
#page-local-login-index .input-group-text {
  padding: 0;
}
#page-local-login-index .card-header {
  padding: 1rem 1rem 0rem 1rem;
}
// ====================================
// Course cards

// Align course names left and remove extra margin space to make more room.
.course-card-view .card-title {
  text-align: left !important;
  margin: 0 !important;
}
// Float enrolment icons right instead of taking up a full line.
.course-card-view .card-block.text-center {
  float: right;
}
