// Import FontAwesome.
@import "fontawesome";
// Import fonts
@import "fonts";
// Import All of Bootstrap.
@import "bootstrap";
// Import Core moodle CSS.
@import "moodle";
// Import Trema SCSS.
@import "trema/main";
@import "trema/blocks";
@import "trema/dashboard";
@import "trema/drawer";
@import "trema/elements";
@import "trema/footer";
@import "trema/header";
@import "trema/login";
@import "trema/frontpage";
@import "trema/incourse";
@import "trema/courselist";
@import "trema/maintenance";
@import "trema/modules";
@import "trema/courseformats";
@import "trema/admin";
@import "trema/message";
@import "trema/user";
