span.mod-title {
    background-color: #5b267e;
    display: block;
    width: 100%;
    text-align: center;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    font-weight: bold;
    padding: .25rem;
}

.board.width50 .activity.label .contentwithoutlink {
    padding: 0;
    margin: 0;
}

nav.navbar {
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    box-shadow: none;
    background-color: #5b267e;
}

.action-menu .dropdown-toggle {
    color: #5b267e;
}

.course-intro {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
}

[data-action=toggle-drawer] .icon {
    color: white;
}

.course-content ul.board li.section.main {
    margin: 20px 10px 10px;
}

#section-0 {
    padding: 1rem;
    margin: 1rem !important;
}

#region-main,
#region-main.has-blocks {
    border: none;
    padding: 0;
    background-color: #eff1f3;
}

.block-region .card {
    box-shadow: none;
    padding: 1rem;
    border-left: 3px solid #5b267e;
    border-radius: 3px;
}

body.path-mod #region-main,
body.path-mod #region-main.has-blocks,
body.path-mod .card {
    border: none;
    border-left: 3px solid #5b267e;
    background-color: #fafafa;
    border-radius: .25rem;
    padding: 1rem;
}

body.path-mod-questionnaire fieldset.qn-container {
    border: none !important;
    background-color: #ece6f1;
    border-radius: .25rem;
    box-shadow: none;
}

body.path-mod #region-main.has-blocks {
    padding: 2rem;
}

body.path-mod section#region-main .box {
    background-color: #fafafa;
    border: none;
}

#page-footer .container-fluid {
    border-top: 5px solid #5b267e;
}

.dropdown-menu {
    background-color: #5b267e;
    color: white;
}

nav.navbar .navbar-nav .nav-link {
    color: white;
}

.course-content ul.board.width50 .activity.label {
    padding: 0 !important;
    text-align: center;
}

.course-content ul.board .section li.activity.quiz,
.course-content ul.board .section li.activity.url {
    padding: 5px 20px !important;
}

.course-content ul.board.width50 li.section ul.section {
    margin-top: 0;
    padding-left: 0;
}

.path-course-view ul.board.width50 li.activity>div {
    padding-right: 0;
}

.section.main {
    background-color: #ece6f1;
    border-radius: 5px;
    border-left: 2px solid #5b267e !important;
    min-height: 225px;
}

.section.main:hover {
    box-shadow: -1px 3px 7px 0px rgba(91, 38, 126, .5);
}

#page-course-view-board #region-main {
    box-shadow: none;
}

.breadcrumb {
    background-color: #ece6f1;
}

#nav-drawer {
    background-color: #ece6f1;
}

a {
    color: #5b267e;
}

#page {
    margin-top: 4.5rem;
}

#page h1 {
    color: #5b267e;
}